{% extends 'jay/base.html' %}
{% block body_block %}
    <a href="/profile/{{ post.user.pk }}"><strong>{{ post.user.profile.username }}</strong></a>
    posted {{ post.timestamp }}
    <article>
        {{ post.content }}
    </article>
    <div class="comments well-sm">
        Comments:<br/>

        <div class="comments_list" id="comments_{{ post.pk }}">
            {% if post.comment_set %}
                {% for comment in post.comment_set.all %}

                    <div class="comment row" id="comment_{{ comment.pk }}">
                        <div class="col-sm-2">
                            <a href="/profile/{{ comment.user.pk }}/" class="user_name">
                                <img src="/media/avatars/{{ comment.user.pk }}_small.jpg"/>
                                {{ comment.user.first_name }} {{ comment.user.last_name }}</a>
                        </div>

                        <div class="col-sm-10">
                            <div class="comment_text">{{ comment.text }}</div>
                            <p class="timestamp">{{ comment.timestamp }}</p>
                        </div>
                    </div>

                    {% if comment.user == user %}
                        <textarea cols="40" class="edit_comment_field input-group" name="text"
                                  id="styled" rows="1" style="display:none"></textarea>
                        <button data-comment_id="{{ comment.pk }}"
                                class="edit_comment btn btn-default btn-xs" type="button">edit
                        </button>
                        <button data-comment_id="{{ comment.pk }}"
                                class="delete_comment btn btn-default btn-xs" type="button">x
                        </button><br/>
                    {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
    </div>
    <div class="input-group">
        <input type="text" class="form-control comment_text">
                            <span class="input-group-btn">
                                <button class="btn btn-default add_comment" type="button" data-post_id="{{ post.pk }}">
                                    Comment
                                </button>
                            </span>
        <!-- /input-group -->


    </div>
    </div>

{% endblock %}