<div class="list-group">

    {% for profile in users %}
        <a href="/profile/{{ profile.user.pk }}">
            <div class="list-group-item user-item">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row">
                            <img src="/media/avatars/{{ profile.user.pk }}_small.png"
                                 class="img-responsive center-block"/>
                        </div>
                        <div class="row username text-center">
                            {{ profile.username }}
                        </div>
                    </div>
                    <div class="col-sm-10">
                        Last story:
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

</div>